<div class="content-top">
  <a class="link-right" href="/merchants/<%= @merchant.id %>/edit">Edit</a>
  <h2 class="h2-75"><%= @merchant.name %></h2>
  <p><b>Total Transactions</b>: <%= @account.merchant_number( @merchant.id ) %></p>
  <p><b>Total by Merchant</b>: £<%= @account.merchant_total( @merchant.id ) %></p>
  <b>Average Transaction</b>: £<%= @account.merchant_average( @merchant.id ) %>
</div>

<div class="content-bottom-nopad">
  <% @account.transactions.each do |transaction| %>
    <% if transaction.merchant_id == @merchant.id %>
      <% @account.tags.each do |tag| %>
        <% if tag.id == transaction.tag_id %>

          <form action="/transactions/<%= transaction.id %>/delete" method="post" class="link-right">
            <input type="submit" value="Delete">
          </form>

          <h2 class="h2-75"><%= tag.name %></h2>
        <% end %>
      <% end %>

      <p><b>Amount</b>: £<%= transaction.amount_format %></p>
      <p><b>Date</b>: <%= transaction.date_format %></p>
      
      <a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a>

      <div class="content-spacer"></div>
    <% end %>
  <% end %>
</div>