<div class="content">

<h2><%= @tag.name %></h2>

<p><b>Total</b>: £<%= @account.tag_total( @tag.id ) %></p>

<hr>

<% @account.transactions.each do |transaction| %>

<% if transaction.tag_id == @tag.id %>

<p><b>Amount</b>: £<%= transaction.amount %></p>
<p><b>Date</b>: <%= transaction.transaction_date %></p>

<p><b>Merchant</b>: 
<% @account.merchants.each do |merchant| %>
<% if merchant.id == transaction.merchant_id %>
<%= merchant.name %>
<% end %>
<% end %></p>

<a href="/transaction/<%= transaction.id %>/edit">Edit</a>

<hr>

<% end %>
<% end %>


<br><br>
<a href="/">Back</a>

</div>