<div class="content">
<!-- <p><b>Lifetime Expenditure</b>: <%= @account.total %></p>
<p><b>Top Merchant</b>: <%= @account.top_merchant[ 0 ] %></p>
<p><b><%= @account.top_merchant[ 0 ] %> Expenditure</b>: <%= @account.top_merchant[ 1 ] %></p>
<p><b>Top Tag</b>: <%= @account.top_tag[ 0 ] %></p>
<p><b><%= @account.top_tag[ 0 ] %> Expenditure</b>: <%= @account.top_tag[ 1 ] %></p> -->

  <div class="home-links">
    <a href="/transactions">Transactions</a>
    <a href="/merchants">Merchants</a>
    <a href="/tags">Tags</a>
    <a href="/api/transactions">API</a>
    </div>
</div>