<div class="content-top">
  <h2>Tags</h2>
  <a href="/tags/new">Create New</a>
</div>

<div class="content-bottom">
  <% @account.tags.each do |tag| %>
  <h2><%= tag.name %> </h2>
  <p><b>Total Transactions</b>: <%= @account.tag_number( tag.id ) %>
  <p><b>Total expenditure</b>: £<%= @account.tag_total( tag.id ) %></p>
  <a href="/tags/<%= tag.id %>">View Transactions</a> 
  <a href="/tags/<%= tag.id %>/edit">Edit Tag</a>

  <% if not tag == @account.tags.last %>
    <div class="content-spacer"></div>
  <% end %>
  <% end %>
</div>