<div class="content-top">
  <h2>Transactions</h2>
  <p><b>Total Transactions</b>: <%= @account.transactions.size %></p>
  <p><b>Lifetime Expenditure:</b> £<%= sprintf "%.2f", @account.total %></p>
  <p><a href="/transactions/new">Create New</a></p>
</div>

<div class="content-bottom">
  <% @account.transactions.each do |transaction| %>
      <form action="/transactions/<%= transaction.id %>/delete" method="post" class="link-right">
      <input type="submit" value="Delete">
    </form>
    <h2 class="h2-75"><% @account.merchants.each do |merchant| %>
      <% if merchant.id == transaction.merchant_id %>
        <%= merchant.name %></h2>
      <% end %>
    <% end %>

    <p><b>Amount</b>: £<%= transaction.amount_format %></p>
    <p><b>Date</b>: <%= transaction.date_format %></p>

    <p><b>Tag</b>: 
    <% @account.tags.each do |tag| %>
      <% if tag.id == transaction.tag_id %>
        <%= tag.name %>
      <% end %>
    <% end %></p>

    <a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a><br>

    <% if not transaction == @account.transactions.last %>
      <div class="content-spacer"></div>
    <% end %>
  <% end %>
</div>